.bg-cargando{
    background: url('./src/assets/img/cargando/team_building.jpg') 50% 0 no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 100;
}